body{
    width: 980px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 50px;
    padding: 0px;
}
/**Top banner styling**/
#topBannerLogo{
    width: 194px;
    position: relative;
    height: 146px;
    top: 125px;
    left: 8px;
    background-image: url(../img/logo.fw.png);
}
#topMenu{
    width: 100%;
    height: 45px;
    background-color: #1b8e99;
    flex-direction: row;
}
#bottomMenu{
width: 100%;
height: 45px;
background-color: #660000;
}
#droneBanner{
    width: 100%;
    height: 352px;
    background-image: url(../img/banner.fw.png);
}
#topMenuList{
    display: flex;
    justify-content: right;
    color: white;
    font-family: Arial;
    font-size: 12px;
}
#menuListItemA{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 80px;
}
#menuListItemA:hover{
    background-color: #92c9ce;

}    
#menuListItemA p{
    text-align: center;
}
#bottomMenuList{
    display: flex;
    color: white;
    font-family: Arial;
    font-size: 12px;
}
#menuListItemB{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 80px;
}
#menuListItemB:hover{
    background-color: white;
    color: #660000;
}
#menuListItemB p{
    text-align: center;
}
/** end of Top banner styling**/

/**Loja virtual styling**/
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;

}
.drone-container{
    display: block;
    border: #1b8e99;
    border-style: solid;
    border-width: 1px;
    height: 374px;
    width: 298px;
   
}
/**DroneA specifics**/
#droneA-nome{
    width: 296px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    background-color: #92c9ce;
    height: 20px;
}
#droneA-imagem{
    background-image: url(../img/DroneA.png);
    width: 279px;
    height: 164px;
}
#droneA-descricao{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    color: #1b8e99;
    font-family: Tahoma;
    font-size: 13px;
}
.droneA-preço-flex{
    display: flex;
    padding-top: 15px;
    font-family: Tahoma;
    background-color: #1b8e99;
    color: white;
    height: 96px;
}
/**DroneB specifics**/
#droneB-border{
    border: #660000;
    border-style: solid;
    border-width: 1px;
}
#droneB-nome{
    width: 296px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    color: #660000;
    background-color: #e4a7a7;
    height: 20px;
}
#droneB-imagem{
    background-image: url(../img/DroneB.png);
    width: 279px;
    height: 164px;
}
#droneB-descricao{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    color: #660000;
    font-family: Tahoma;
    font-size: 13px;
}
.droneB-preço-flex{
    display: flex;
    padding-top: 15px;
    font-family: Tahoma;
    background-color: #660000;
    color: white;
    height: 96px;
}
/**DroneC specifics**/
#droneC-nome{
    width: 296px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    color: black;
    background-color: #92c9ce;
    height: 20px;
}
#droneC-imagem{
    background-image: url(../img/DroneC.png);
    width: 279px;
    height: 164px;
}
#droneC-descricao{
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 5px;
    color: #1b8e99;
    font-family: Tahoma;
    font-size: 13px;
}
.droneC-preço-flex{
    display: flex;
    padding-top: 15px;
    font-family: Tahoma;
    background-color: #1b8e99;
    color: white;
    height: 96px;
}
/**Common container assets**/
#margem-fix{
    margin-top: 20px;
}
#drone-preço1{
    font-size: 30px;
}
#drone-preço2{
    font-size: 14px;
}
#imagem-carrinho{
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 50px;
    background-color: white;
    background-image: url(../img/carrinho.png);
    width: 56px;
    height: 52px;
}
#top-hr{
    background-color: #660000;
    height: 3px;
    width: 100%;
}
#bottom-hr{
    margin-top: 13px;
    height: 15px;
    background-color: #444444;
}
#top-hr-section{
    display: flex;
}
#mini-droneA{
    margin-top: 7px;
    background-image: url(../img/imgDroneA.png);
    height: 77px;
    width: 125px;
}
#loja-title{
    margin-top: 20px;
    width: 100%;
}
#loja-title h1{
    font-family: Arial;
    font-size: 18px;
    color: #660000;
}
/**end of loja virtual styling**/

/**serviço styling**/
#mini-droneB{
    margin-top: 7px;
    background-image: url(../img/imgDroneB.png);
    height: 77px;
    width: 125px;
}
#servicos-hr-title{
    margin-top: 20px;
    width: 100%;
}
#servicos-hr-title h1{
    font-family: Arial;
    font-size: 18px;
    color: #1b8e99;
}
#top-hr-servicos{
    background-color: #1b8e99;
    height: 3px;
    width: 100%;
}
.servico-general{
    width: 298px;
    height: 398px;
}
#border-A{
    border: #660000;
    border-style: solid;
    border-width: 1px;
}
#border-B{
    border: #1b8e99;
    border-style: solid;
    border-width: 1px;

}
.servico-general p{
    font-family: Tahoma;
    font-size: 13px;
}
#servico-img-A{
    background-image: url(../img/ServicosA.png);
    height: 137px;

}
#servico-img-B{
    background-image: url(../img/ServicosB.png);
    height: 137px;
}
#servico-img-C{
    background-image: url(../img/ServicosC.png);
    height: 137px;
}
#p-A{
    margin-right: 10px;
    margin-left: 10px;
    color: #660000;
}
#p-B{
    color: #1b8e99;
    margin-right: 10px;
    margin-left: 10px;   
}
.servicos-title{
    display: block;
    margin-top: 5px;
    margin-bottom: 40px;
    font-family: Tahoma;
    font-size: 17px;
    font-weight: bold;
}
.bottom-thick-thing-A{
    margin-top: 80px; 
    height: 10px;
    width: 100%;
    background-color: #660000;
}
.bottom-thick-thing-B{
    margin-top: 110px; 
    height: 10px;
    width: 100%;
    background-color: #1b8e99
}

/**Footer styling**/
#mini-drone-C{
    background-image: url(../img/imgDroneC.png);
    height: 46px;
    width: 139px;
    margin-right: 150px;
    margin-left: 30px;
    margin-top: 30px;
}
#mini-drone-C-imgs-flex{
    display: flex;
    margin-bottom: 9px;
    
}
#footer-bar1{
    display: flex;
    font-family: Tahoma;
    color: white;
    background-color: #1b8e99;
    height: 96px;
}
#logo-img1{
    margin-top: 35px;
    background-image: url(../img/logo.png);
    height: 28px;
    width: 123px;
}
#logo-img2{
    position: relative;
    bottom: 80px;
    background-image: url(../img/imgProfessor.png);
    width: 112px;
    height: 203px;
}
#footer-bar2{
    height: 26px;
    background-color: #660000;
    color: white;
    font-size: 14px;
    font-family: Tahoma;
}
#footer-bar2 span{
    margin-left: 820px;
}